<!DOCTYPE html>
<html>
<head>
    <!-- Metadatos del documento, incluyendo el título y la hoja de estilos vinculada -->
    <title>Interfaz gráfica del proyecto YCL Solutions</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <!-- Contenedor principal de la página -->
    <div id="contenedor-pagina">
        <!-- Contenedor central para el botón principal -->
        <div id="contenedor-central">
            <!-- Botón principal con el nombre de la empresa -->
            <button id="boton-central">Empresa XYZ Producciones</button>
        </div>

        <!-- Contenedor para seis botones categorizados -->
        <div id="seis-botones">
            <!-- Seis botones con categorías específicas -->
            <button class="boton-amarillo">Administración</button>
            <button class="boton-naranja">Clientes</button>
            <button class="boton-azul">Cátalogos</button>
            <br>
            <button class="boton-rojo">Bodega </button>
            <button class="boton-rosa">Producción</button>
            <button class="boton-verde">Logística</button>
        </div>

        <!-- Botón intermedio con iconos para configuración -->
        <button class="boton-intermedio">
            <img src="imagenes/configuracion.png" class="icono-izquierdo" alt="Icono Izquierdo">
            Configuración 
            <img src="imagenes/proceso.png" class="icono-derecho" alt="Icono Derecho">
        </button>

        <!-- Sección inferior con el logo de la empresa y la descripción del software -->
        <div id="boton-inferior">
            <!-- Logo de la empresa -->
            <div class="imagen">
                <img src="imagenes/logo de empresa, proyecto.png">
            </div>
            <!-- Descripción del software -->
            <div class="texto">
                Software de Producción
            </div>
            <!-- Botones para la fecha y la hora -->
            <div id="botones-superiores">
                <button class="boton-hora">**/**/**</button>
                <button class="boton-fecha">Fecha: Día / Mes / Año</button>
            </div>
        </div>
    </div>
</body>
</html>
